* {
    margin:0px 0px 0px 0px;
}
body {
    background-color:#8726a5;
}
div.fondo {
    height:1200px;
    width:100%;
}
div.header {
    border:solid rgb(14, 1, 9) 2px;
    background-color:#b173b9;
    height:15%;
    width:100%;
    border-style: dotted;
}
div.medio {
    height:75%;
    width:100%;
    display:flex;
    flex:auto;
}
h1 {
	color:rgb(125, 56, 146);
	text-align:center;
	font-size:80px;
	font-family:fantasy;
    padding:10px;
}
p.links {
    text-align:center;
    margin-left:41%;
    margin-right:40%;
}
.boton {
    background-color: #b1be36d2;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0px;
    float:left;
}
iframe {
    margin:auto;
    width:90%;
    height:90%;
}
footer {
    height:10%;
    width:100%;    
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
}
p.footer {
    background-color:rgb(35, 39, 33);
    color:rgb(207, 238, 235);
    font-size:20px;
    font-weight:bold;
 
    padding: 40px 50px 44px 50px;

}
article.contenido {
    color:rgb(8, 0, 0);
    width:100%;
    height:auto;
    text-align:justify;
    padding:10px;
    font-size:17px;
    
}
header {
    font-weight:bold;
    font-size:19px;
    line-height:1.5;
}